Repository sheegull/deephand-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: resolve Tailwind CSS 4.0 integration issues
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/pages/index.astro
  src/styles/app.css
  src/styles/global.css
  tailwind.config.js
Due: eslint --fix, prettier --write

feat: complete Phase 2 implementation with React Islands and optimization
  astro.config.mjs
  public/favicon.ico
  public/robots.txt
  src/components/forms/ContactForm.tsx
  src/components/islands/ContactModal.tsx
  src/components/islands/DataRequestForm.tsx
  src/components/sections/CTA.astro
  src/lib/validationSchemas.ts
  src/pages/api/contact.ts
  src/pages/api/request-data.ts
  src/pages/request-data.astro
Due: eslint --fix, prettier --write

fix: resolve Astro experimental configuration error
  astro.config.mjs
Due: none

fix: resolve Invalid URL error in BaseLayout
  astro.config.mjs
  src/layouts/BaseLayout.astro
Due: eslint --fix, prettier --write

docs: add comprehensive error fix and development status reports
  docs/report/development-status-summary.md
  docs/report/url-invalid-error-fix.md
Due: prettier --write

fix: critical Tailwind CSS integration for design rendering
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/layouts/BaseLayout.astro
Due: eslint --fix, prettier --write

docs: add git commit failure analysis and ESLint fix tests
  docs/todo/20250616-000000-git-commit-failure-ultrathink.md
  tests/eslint-config-fix.test.js
Due: eslint --fix, prettier --write

docs: add Phase 5 completion report and Phase 6 strategy analysis
  docs/report/20250616-001500-phase5-ux-enhancement-completed.md
  docs/todo/20250616-002000-phase6-strategy-ultrathink.md
Due: prettier --write

add form features
  .husky/pre-commit
  .lintstagedrc
  package.json
  pnpm-lock.yaml
Due: prettier --write

add meta-balls
  .env.local
  astro.config.mjs
  docs/20250616_alliance_font_fix_report.md
  docs/20250616_contact_form_api_fix_report.md
  docs/20250616_form_validation_fix_report.md
  docs/20250616_meta_balls_animation_report.md
  docs/20250616_request_form_test_report.md
  docs/20250616_ui_improvements_phase2_report.md
  docs/20250616_ui_improvements_report.md
  docs/fix/Shot 2025-06-16 20.04.34@2x.png
  docs/todo/fix.md
  package.json
  pnpm-lock.yaml
  src/components/HeroSection.tsx
  src/components/RequestDataPage.tsx
  src/components/ui/MetaBalls.tsx
  src/components/ui/button.tsx
  src/components/ui/language-toggle.tsx
  src/layouts/Layout.astro
  src/lib/validationSchemas.ts
  src/pages/api/contact.ts
  src/pages/api/request.ts
  src/styles/app.css
  src/styles/global.css
  tests/api-endpoints/contact-form-api.test.js
  tests/form-validation/contact-form-validation.test.js
  tests/request-form/request-form-functionality.test.js
  tests/ui-improvements/meta-balls-integration.test.js
  tests/ui-improvements/ui-fixes-phase2.test.js
  tests/ui-improvements/ui-fixes.test.js
Due: eslint --fix, prettier --write

temp design
  docs/20250616_form_error_fix_report.md
  docs/20250616_hydration_error_fix_report.md
  public/site.webmanifest
  src/components/HeroSection.tsx
  src/components/RequestDataPage.tsx
  src/layouts/Layout.astro
  tests/form-error-analysis/form-error-handling.test.js
  tests/form-error-analysis/response-handling-fix.test.js
  tests/hydration-analysis/hydration-errors.test.js
  tests/hydration-analysis/hydration-fix-verification.test.js
Due: eslint --fix, prettier --write

dither temp
  docs/20250616_form_error_fix_completion_report.md
  docs/20250616_form_error_investigation_report.md
  docs/fix/Shot 2025-06-16 20.04.34@2x.png
  docs/fix/Shot 2025-06-16 20.41.25@2x.png
  docs/fix/fix.md
  docs/todo/20250616-204200_failed_send_message_analysis.md
  docs/todo/20250616-210200_dither_background_implementation.md
  docs/todo/20250616-210500_threeevent_import_error_fix.md
  docs/todo/20250616_form_error_message_analysis.md
  docs/todo/fix.md
  package.json
  pnpm-lock.yaml
  src/components/HeroSection.tsx
  src/components/RequestDataPage.tsx
  src/components/ui/DataNetworkAnimation.tsx
  src/components/ui/DitherBackground.tsx
  tests/form-error-fix/contact-form-success-fix.test.js
Due: eslint --fix, prettier --write

dither-p1
  src/components/HeroSection.tsx
  src/components/ui/DitherBackground.tsx
Due: eslint --fix, prettier --write

dither design ok
  src/components/HeroSection.tsx
Due: eslint --fix, prettier --write

temp
  docs/20250616_form_validation_improvement_report.md
  src/components/HeroSection.tsx
  src/components/RequestDataPage.tsx
Due: eslint --fix, prettier --write

update top-form
  docs/20250616_alliance_font_fix_report.md
  docs/20250616_comprehensive_form_improvement_report.md
  docs/20250616_contact_form_api_fix_report.md
  docs/20250616_failed_ui_analysis_locations.md
  docs/20250616_form_error_fix_completion_report.md
  docs/20250616_form_error_fix_report.md
  docs/20250616_form_error_investigation_report.md
  docs/20250616_form_validation_fix_report.md
  docs/20250616_form_validation_improvement_report.md
  docs/20250616_hydration_error_fix_report.md
  docs/20250616_meta_balls_animation_report.md
  docs/20250616_request_form_test_report.md
  docs/20250616_ui_improvements_phase2_report.md
  docs/20250616_ui_improvements_report.md
  docs/fix/Shot 2025-06-16 20.41.25@2x.png
  docs/report/20250616-001500-phase5-ux-enhancement-completed.md
  docs/todo/20250116_code_cleanup_strategy.md
  docs/todo/20250117_refactoring_strategy.md
  docs/todo/20250117_unnecessary_files_list.md
  docs/todo/20250616-204200_failed_send_message_analysis.md
  docs/todo/20250616-210200_dither_background_implementation.md
  docs/todo/20250616-210500_threeevent_import_error_fix.md
  docs/todo/20250616_form_error_message_analysis.md
  src/components/HeroSection.tsx
  src/components/RequestDataPage.tsx
  src/i18n/locales/en.json
  src/i18n/locales/ja.json
  tests/validation-multilingual/validation-i18n.test.js
Due: eslint --fix, prettier --write

temp
  docs/20250116_form_comprehensive_improvement_report.md
  docs/20250116_form_test_implementation_report.md
  docs/20250116_request_data_page_improvement_report.md
  src/components/HeroSection.tsx
  src/components/RequestDataPage.tsx
  src/i18n/locales/en.json
  src/i18n/locales/ja.json
  src/lib/email/sender.ts
  src/lib/email/templates-multilingual.ts
  src/lib/validationSchemas.ts
  tests/form-improvements/form-comprehensive.test.jsx
Due: eslint --fix, prettier --write

alliance No.2 ok
  docs/2025-06-16-20-45-font-fix-button-resize-report.md
  docs/20250116_form_comprehensive_improvement_report.md
  docs/20250116_form_test_implementation_report.md
  docs/20250116_request_data_page_improvement_report.md
  docs/20250117_ui_modernization_complete_report.md
  docs/20250616_comprehensive_form_improvement_report.md
  docs/20250616_failed_ui_analysis_locations.md
  docs/20250616_modern_email_templates_update.md
  docs/fix/fix.md
  src/components/HeroSection.tsx
  src/components/RequestDataPage.tsx
  src/lib/email/templates.ts
  src/styles/app.css
  tests/ui-modernization/ui-sync-modern.test.js
Due: eslint --fix, prettier --write

update mail design
  docs/20250616_contact_form_final_fix_report.md
  docs/20250616_email_template_final_report.md
  docs/20250616_email_template_redesign_complete_report.md
  docs/20250616_phase6_infrastructure_fixes_report.md
  docs/todo/20250616-215900_failed_message_investigation_report.md
  docs/todo/20250616_phase7_security_performance_todo.md
  src/components/HeroSection.tsx
  src/components/__tests__/ContactForm.test.tsx
  src/components/__tests__/ContactFormSimple.test.tsx
  src/i18n/locales/en.json
  src/i18n/locales/ja.json
  src/lib/email/sender.ts
  src/lib/email/templates.ts
  src/lib/error-handling.ts
  src/styles/global.css
  tests/email-redesign/email-template-improvements.test.js
Due: eslint --fix, prettier --write

fix email front bug
  debug_preview.log
  docs/2025-06-16-20-45-font-fix-button-resize-report.md
  docs/20250117_ui_modernization_complete_report.md
  docs/20250616_contact_form_final_fix_report.md
  docs/20250616_email_template_final_report.md
  docs/20250616_email_template_redesign_complete_report.md
  docs/20250616_modern_email_templates_update.md
  docs/20250616_phase6_final_infrastructure_analysis.md
  docs/20250616_phase6_infrastructure_fixes_report.md
  docs/20250616_status_icons_complete_redesign_report.md
  docs/20250617_contact_form_bug_completely_resolved.md
  docs/report/20250616_final_solution_success_logic_fix.md
  docs/report/error.md
  docs/todo/20250616-215900_failed_message_investigation_report.md
  docs/todo/20250616_phase7_security_performance_todo.md
  final_preview.log
  preview.log
  preview_with_env.log
  server.log
  server_clean.log
  src/components/HeroSection.tsx
  src/components/RequestDataPage.tsx
Due: eslint --fix, prettier --write

update design
  docs/20250617_codebase_analysis_report.md
  docs/20250617_design_improvements_report.md
  docs/20250617_emergency_input_fix_report.md
  docs/20250617_emergency_request_form_fix_complete.md
  docs/20250617_request_form_design_fixes_report.md
  docs/20250617_request_form_improvements_report.md
  docs/20250617_requestdata_tdd_improvement_report.md
  docs/20250617_validation_improvement_final_report.md
  docs/fix/Shot 2025-06-17 12.58.28@2x.png
  docs/fix/Shot 2025-06-17 13.38.39@2x.png
  emergency_test.js
  server.log
  src/components/HeroSection.tsx
  src/components/RequestDataPage.tsx
  test_improvements.js
  test_request_fixes.js
  test_requestdata_layout_improvement.js
  test_responsive_design.js
Due: eslint --fix, prettier --write

localize
  docs/20250617_language_font_performance_improvements_report.md
  docs/20250617_request_data_persistence_verification_report.md
  docs/20250617_request_form_validation_fix_complete.md
  server.log
  src/components/HeroSection.tsx
  src/components/RequestDataPage.tsx
  src/hooks/useLanguage.ts
  src/i18n/locales/en.json
  src/layouts/Layout.astro
  src/lib/i18n.ts
  src/pages/en/index.astro
  src/pages/en/request.astro
  src/styles/app.css
  test_language_font_performance.js
Due: eslint --fix, prettier --write

temp
  api_test.js
  docs/20250616_phase6_final_infrastructure_analysis.md
  docs/20250616_status_icons_complete_redesign_report.md
  docs/20250617_codebase_analysis_report.md
  docs/20250617_contact_form_bug_completely_resolved.md
  docs/20250617_design_improvements_report.md
  docs/20250617_emergency_input_fix_report.md
  docs/20250617_emergency_request_form_fix_complete.md
  docs/20250617_language_font_performance_improvements_report.md
  docs/20250617_request_data_persistence_verification_report.md
  docs/20250617_request_form_design_fixes_report.md
  docs/20250617_request_form_improvements_report.md
  docs/20250617_request_form_validation_fix_complete.md
  docs/20250617_requestdata_tdd_improvement_report.md
  docs/20250617_terms_privacy_pages_implementation_report.md
  docs/20250617_validation_improvement_final_report.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  public/manual_api_test.html
  server.log
  src/components/HeroSection.tsx
  src/components/PrivacyPolicyPage.tsx
  src/components/RequestDataPage.tsx
  src/components/TermsOfServicePage.tsx
  src/i18n/locales/en.json
  src/i18n/locales/ja.json
  src/lib/email/sender.ts
  src/pages/en/privacy.astro
  src/pages/en/terms.astro
  src/pages/privacy.astro
  src/pages/terms.astro
  test_request_form.js
Due: eslint --fix, prettier --write

validation ok
  .vscode/settings.json
  docs/20250617_resend_api_fix_report.md
  docs/20250617_tdd_validation_template_fix_report.md
  e2e_error.png
  src/components/RequestDataPage.tsx
  src/i18n/locales/en.json
  src/i18n/locales/ja.json
  src/lib/email/sender.ts
  src/lib/email/templates.ts
  test_background_validation.js
  test_email_template.js
  test_frontend_form.js
  test_import.js
  test_resend_api.js
  test_send_email.js
  test_step1_validation.js
  test_template_fix.js
  test_validation_e2e.js
Due: eslint --fix, prettier --write

fix mail-template
  src/lib/email/sender.ts
Due: eslint --fix, prettier --write

fix request data template
  docs/20250617_email_template_enhancement_report.md
  src/components/RequestDataPage.tsx
  src/lib/email/sender.ts
  src/lib/email/templates.ts
  test_contact_form_en.js
  test_contact_form_ja.js
  test_request_data_en.js
  test_request_data_ja.js
Due: eslint --fix, prettier --write

create ver.2
  docs/20250617_email_template_enhancement_report.md
  docs/20250617_resend_api_fix_report.md
  docs/20250617_tdd_validation_template_fix_report.md
  docs/20250617_terms_privacy_pages_implementation_report.md
  docs/fix/Shot 2025-06-17 12.58.28@2x.png
  docs/fix/Shot 2025-06-17 13.38.39@2x.png
  docs/report/20250616_final_solution_success_logic_fix.md
  docs/report/error.md
Due: prettier --write

fix cicd error
  .npmrc
  docs/20250617_cicd_pnpm_workspace_fix_report.md
  pnpm-workspace.yaml
Due: prettier --write

fix cicd error
  .npmrc
  docs/20250617_updated_cicd_fix_analysis.md
Due: prettier --write

check lint settings
  docs/20250617_eslint_config_fix_report.md
  eslint.config.js
Due: eslint --fix, prettier --write

remove github cicd settings
  .github/workflows/ci-cd.yml
Due: none

add cloudflare settings
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  wrangler.toml
Due: prettier --write

update nodejs version
  .nvmrc
  .tool-versions
  wrangler.toml
Due: none

adjust design & settings
  astro.config.mjs
  docs/20250617-herosection-bundle-optimization-report.md
  docs/fix/20250617_react19_componentprops_compatibility_fix.md
  docs/fix/20250617_ssr_hydration_mismatch_tdd_fix.md
  docs/fix/20250617_vercel_404_error_analysis.md
  docs/fix/Shot 2025-06-17 19.52.59@2x.png
  src/components/HeroSection.tsx
  src/components/__tests__/DitherBackgroundLazy.hydration.test.tsx
  src/components/__tests__/HeroSection.performance.test.tsx
  src/components/__tests__/motion-optimized.compatibility.test.tsx
  src/components/ui/DitherBackgroundLazy.tsx
  src/components/ui/motion-optimized.tsx
Due: eslint --fix, prettier --write

fix dither design
  astro.config.mjs
  docs/20250617_cloudflare_pages_react18_deployment_success_report.md
  docs/20250617_dither_background_complete_fix_report.md
  package.json
  pnpm-lock.yaml
  src/utils/__tests__/cloudflare-runtime-compatibility.test.ts
  src/utils/__tests__/dither-production-verification.test.ts
  src/utils/__tests__/fiber-v8-api-compatibility.test.ts
  src/utils/__tests__/react18-downgrade-compatibility.test.ts
  src/utils/__tests__/react18-three-compatibility.test.ts
  src/utils/cloudflare-polyfills.ts
  src/utils/ssr-polyfills.ts
  vite-polyfill-plugin.js
Due: eslint --fix, prettier --write

Add comprehensive debug logging to contact API for troubleshooting 500 error
  src/pages/api/contact.ts
Due: eslint --fix, prettier --write

Add comprehensive debug logging to contact API and troubleshooting documentation
  docs/fix/20250617_cloudflare_environment_variables_500_error_analysis.md
  docs/fix/20250617_cloudflare_pages_form_functionality_analysis.md
  docs/fix/20250617_cloudflare_workers_log_detailed_analysis.md
  docs/fix/20250617_debug_endpoint_implementation_guide.md
  src/pages/api/contact.ts.backup
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,astro}
  prettier --write: (any of: *.{js,jsx,ts,tsx,astro}) or (any of: *.{json,css,md})
